*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# APK файлы
*.apk

# Аудио записи
*.wav
*.mp3

# Изображения и скриншоты
*.jpeg
*.jpg
*.png

# Папки с debug/release сборками
app/debug/
app/release/

# Ошибки Kotlin
.kotlin/

# Старые версии APK
Старые версии/