<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ps_inspection">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_binoculars"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_ic_launcher__round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ps_inspection.NoActionBar"> <!-- Исправлено на NoActionBar -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Ps_inspection.NoActionBar"> <!-- И здесь тоже -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>